cache
binary*
chroot*
local
.build
build.log

config/binary
config/bootstrap
config/chroot
config/common
config/source
config/hooks/normal/0*
config/hooks/libe/0*

*.contents
*.files
*.iso
*.iso.zsync
*.packages
